:root {
  --one: #222831;
  --two: #31363F;
  --three: #395B64;
  --four: #76ABAE;
  --five: #A5C9CA;
  --six: #E7F6F2;
  --seven: #EEEEEE;
  --eight: #7fffd4; 
}
* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Ramabhadra", sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  background: var(--one);
}

h1 {
  font-size: 5rem;
  color: var(--eight);
}

form {
  width: 80%;
}
form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 2rem;
  background-color: var(--seven);
  border: solid 1px var(--five);
  border-radius: 3px;
  box-shadow: 0 0 10px var(--four), 0 0 5px var(--four);
}
form input:focus {
  outline: solid 3px var(--four);
}
form ul {
  list-style: none;
}
form ul li {
  margin: 8px 0;
  width: 100%;
  padding: 10px 15px;
  font-size: 2rem;
  background-color: var(--seven);
  color: var(--two);
  border: solid 1px var(--five);
  border-radius: 3px;
  box-shadow: 0 0 10px var(--four), 0 0 5px var(--four);
  cursor: pointer;
}

form ul li.check {
  text-decoration: line-through; 
  background-color: var(--five);
  box-shadow: 0 0 10px var(--three), 0 0 5px var(--three);
}

h3 {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--four);
  text-align: center;
}