:root {
  --one: #222831;
  --two: #31363F;
  --three: #395B64;
  --four: #76ABAE;
  --five: #A5C9CA;
  --six: #E7F6F2;
  --seven: #EEEEEE;
  --eight: #7fffd4; 
}
* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Ramabhadra", sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--one);
}
section {
  padding: 20px 25px;
  background-color: var(--three);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
  color: var(--seven);
  margin-bottom: 10px;
}
.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: var(--one);
  font-size: 2rem;
  letter-spacing: 1px;
}
.password-container span {
  width: calc(100% - 50px);
  word-wrap: break-word;
  overflow-y: scroll;
  color: var(--six);
  height: 100%;
}
.password-container span::-webkit-scrollbar {
  display: none;
}
.password-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: var(--eight);
  cursor: pointer;
}
.password-container button div {
  width: 80%;
  height: 80%;
  background-image: url(./icons/copy2.png);
  background-size: cover;
  background-position: center;
}

.setting-container {
  width: 100%;
}
.setting-container .setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--six);
}
input {
  background-color: var(--five);
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-weight: 600;
}

#generate {
  width: 100%;
  padding: 5px 10px;
  margin-top: 20px;
  background-color: var(--eight);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Ramabhadra", sans-serif;
  color: var(--one);
}