:root {
  --one: #222831;
  --two: #31363F;
  --three: #395B64;
  --four: #76ABAE;
  --five: #A5C9CA;
  --six: #E7F6F2;
  --seven: #EEEEEE;
  --eight: #7fffd4; 
}
* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Ramabhadra", sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--one);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  gap: 4px;
}
.main-container div {
  width: 18px;
  height: 18px;
  background-color: var(--two);
  transition: all 2.2s ease-in-out;
}
.main-container div:hover {
  transition: all 0s ease-in;
}